@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');

:root {
    /* border */
    --brd: 1px solid black;    
    --border: .1rem solid rgba(0, 0, 0, 0.3);

    /* color */
    --col1: #fc5f9b;
    --col2: #a362ea;
    --col3: #0ed095;
}

* {
    font-family: 'Poppins', Tahoma ,sans-serif;
    margin: 0; padding: 0;
    box-sizing: border-box;
    outline: none; border: none;
    text-decoration: none;
    user-select: none;
    /* text-transform: capitalize; */
    /* transition: all 0.2s ease; */
}
html {
    font-size: 75%;
    overflow-x: hidden;
    scroll-padding-top: 5rem;
    scroll-behavior: smooth;
    overflow-x: hidden;
}
a, button, input[type="submit"], input[type="checkbox"] {cursor: pointer !important;}

/* main */
body {
    width: 100%; height: auto;
    display: flex; justify-content: center; flex-direction: column;
}
main {
    width: 100%; height: auto; max-width: 500px; min-height: calc(100vh - 50px);
    display: flex; flex-direction: column; margin: 0 auto;
    position: relative;
    background: #efefef;
    /* border: var(--brd); */
}
header {
    width: 100%; height: 50px; padding: 10px;
    justify-content: center !important;
    background: var(--col1); color: white;
}

/* main header */
.header {
    width: 100%; height: 50px; padding: 10px;
    display: flex; align-items: center; flex-wrap: nowrap;
    flex-direction: row; justify-content: space-between;
    
    border-bottom: var(--border);
}
.header .search {
    font-size: 145%; padding: 0 5px; min-width: 100px;
    display: flex; align-items: center; gap: 5px;
    border: 1px solid grey; border-radius: 5px; opacity: 0.8;
    background: #ffffff; overflow: hidden;
}
.header .search i {cursor: pointer;}
.header .search input {background: #ffffff;}

.header button {
    width: 100px; height: 25px; padding: 1px 2px; margin-left: 5px;
    display: flex; justify-content: center; align-items: center; flex-wrap: nowrap;
    border-radius: 10px; background: var(--col1); opacity: 0.85;
    color: white;
    position: relative;
}
.header button:hover {opacity: 1;}
.header button:hover::after {
    content: " ";
    height: 100%; width: 100%;
    padding: 1px;
    position: absolute;
    border: 0.1rem solid var(--col1); border-radius: 12.5px;
}

/* section */
section {
    width: 100%; height: auto;
    display: flex; flex-direction: column;
}
section details summary {
    font-size: 1.5rem;
}
ul {
    width: 100%; height: auto; padding: 0 10px;
    display: flex; flex-direction: column; row-gap: 10px;
}
ul li {
    list-style-type: none; padding: 1px 10px;
    display: flex; flex-direction: row;
    background: var(--col1); color: white;
    border: var(--border);
}
li article {
    display: flex; flex-grow: 1; flex-direction: column;
}
li .action {
    width: auto; padding: 5px;
    display: flex; gap: 5px; align-items: center;
}
li .action button {
    height: 30px; width: 30px; opacity: 0.75; transition: color 0.3s ease;
    display: flex; justify-content: center; align-items: center;
    transition: all 0.35s ease;
}
li .action button:hover {
    opacity: 1; background: grey;
}
li button#btn-remove {color: red;}
li button#btn-change {color: black;}
li button#btn-change.read {color: var(--col3);}
li button#btn-edit {color: var(--col2);}

/* form */
main {background: #efefef;}
form {
    width: 500px; padding: 5px 10px;
    display: flex; flex-direction: column;
}
main #btn-exit {
    width: 50px; height: 50px;
    position: absolute; right: 0;
    background: none; color: var(--col1);
    transform: rotate(45deg);
    transition: all 0.5s cubic-bezier(0.075, 0.82, 0.165, 1);
}
main #btn-exit:hover {
    transform: rotate(-45deg);
}
form input {
    border: var(--border); margin: 5px 0 10px 0;
    width: 70%; padding: 5px 15px; border-radius: 15px;
}
form input:focus {
    background: var(--col1); color: white;
}
form input[type="submit"] {
    width: 50%; background: var(--col1); color: white;
}
form input[type="checkbox"] {
    width: auto;
}

.hidden {display: none;}